.Avatar3 {
    width: 250px;
    text-align: center;
    margin: 20px;
}

.animationStyle {
    animation: glow 1.3s ease-in-out infinite alternate;
} 

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 
                    0 0 20px #fff, 
                    0 0 30px #6400e6, 
                    0 0 40px #6400e6, 
                    0 0 50px #6400e6, 
                    0 0 60px #6400e6, 
                    0 0 70px #6400e6;
    }
    to {
        text-shadow: 0 0 20px #fff, 
                    0 0 30px #4db8ff, 
                    0 0 40px #4db8ff, 
                    0 0 50px #4db8ff, 
                    0 0 60px #4db8ff, 
                    0 0 70px #4db8ff, 
                    0 0 80px #4db8ff;
    }
}